@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: #98abd5;
}


/* CONTAINER PRINCIPAL */

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


/* CONTAINER DO FORMULÁRIO */

.container {
    width: 1200px;
    height: 650px;
}


/* DIV COM ICONES VOLTAR E LOGO  */

.icones {
    height: 10%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icones img {
    width: 100%;
    max-width: 30px;
}

.icones #icone {
    width: 100%;
    max-width: 30px;
}

.icones a {
    text-decoration: none;
    cursor: pointer;
}


/* CONTAINER INTERNO */

.content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}



/* -------------------- CONTAINER LOGIN -------------------- */

.login {
    width: 40%;
    height: 100%;
    background-image: url(../img/cadastro-login/image.png);
    background-size: cover;
    border-radius: 15px 0 0 15px ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/* TITULO DO CONTAINER LOGIN */

.login h1 {
    width: 40%;
    font-size: 2.5rem;
    text-align: justify;
}


/* PARAGRAFO */

.login p {
    width: 200px;
    text-align: left;
}

.login .label-button {
    width: 220px;
    text-align: center;
}


/* DIV PARA JUNTAR BUTTON E PARAGRAFO */

.login div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* BOTÃO - CADASTRA-SE */

.login div button {
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.login button:hover {
    cursor: pointer;
}



/* -------------------- CONTAINER DE CADASTRO -------------------- */

.form-cadastrar {
    width: 60%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}


/* TITULO DO CONTAINER LOGIN */

.form-cadastrar h1 {
    margin: 35px 0;
    font-size: 2rem;
}


/* DIV COM AS DIV ESQUERDO - DIREITO*/

.divInput {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/* DIV COM AS INPUTS DO LADO ESQUERDO */

.esquerdo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}


/* DIV COM AS INPUTS DO LADO DIREITO */


.direito {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


/* DIV AGRUPANDO INPUT E PARAGRAFO */

.esquerdo div, .direito div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}


/* DIV AGRUPANDO INPUT CIDADE E SELECT ESTADO */

.direito div div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
}


/* INPUT CIDADE */

#input-estado {
    width: 70%;
    padding: 5px 5px ;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}


/* SELECT ESTADO */

#select-uf {
    width: 20%;
    padding: 4.7px 5px ;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}



/* PARAGRAFO */

.esquerdo p, .direito p {
    width: 97%;
    font-size: 1.1rem;
    color: rgb(230, 0, 90);
}


/* INPUTS */

.divInput input {
    width: 95%;
    padding: 5px 5px ;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}


/* DIV PARA AGRUPAR CHECKBOX E PARAGRAFO */

.divCheck {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: #98abd5; */
}


/* PARAGRAFO DA CHECKBOX */

.divCheck p {
    font-size: 0.7rem;
}


/* BOTÃO - CADASTRAR */

.form-cadastrar button {
    padding: 10px 70px;
    margin: 35px 0;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: rgb(195, 21, 94);
    color: white;
}