@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: #98abd5;
}


/* CONTAINER PRINCIPAL */

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* CONTAINER DO FORMULÁRIO */

.container {
    width: 1100px;
    height: 600px;
}


/* DIV COM ICONES VOLTAR E LOGO  */

.icones {
    height: 10%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icones img {
    height: 30px;
}

.icones #icone {
    height: 30px;
}


/* CONTAINER INTERNO */

.content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row-reverse;
}


/* -------------------- CONTAINER DE CADASTRO -------------------- */

.form-cadastrar {
    width: 70%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}


/* TITULO DO CONTAINER LOGIN */

.form-cadastrar h1 {
    font-size: 2rem;
}


/* DIV COM AS INPUTS*/

.divInput {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}


/* LABEL DOS INPUTS */

.divInput p {
    color: rgb(230, 0, 90);
}


/* INPUTS */

.divInput input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}


/* BOTÃO - CADASTRAR */

.form-cadastrar button {
    padding: 10px 70px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: rgb(195, 21, 94);
    color: white;
}


/* -------------------- CONTAINER LOGIN -------------------- */

.login {
    width: 40%;
    height: 100%;
    background-image: url(../img/cadastro-login/image.png);
    background-size: cover;
    border-radius: 15px 0 0 15px ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/* TITULO DO CONTAINER LOGIN */

.login h1 {
    width: 40%;
    font-size: 2.5rem;
    text-align: justify;
}


/* PARAGRAFO */

.login p {
    width: 200px;
    text-align: left;
}

.login .label-button {
    width: 220px;
    text-align: center;
}


/* DIV PARA JUNTAR BUTTON E PARAGRAFO */

.login div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* BOTÃO - CADASTRA-SE */

.login div button {
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
}