@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: #98abd5;
}

main {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    margin-inline: 5vh;
    justify-content: center;
}

.menu {
    margin-top: 50px;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(139, 105, 168);
}

.perfil {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.perfil img {
    height: 40px;
}

ul {
    text-decoration: none;
    list-style: none;
}

ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 5px;
}

.configuracoes {
    width: 100%;
    background-color: rgb(94, 200, 226);
    padding: 10px;
}

.salas {
    width: 100%;
    background-color: rgb(188, 255, 100);
    margin-top: 50px;
    padding: 10px;
}

.sair {
    width: 100%;
    background-color: rgb(199, 133, 71);
    margin-top: 50px;
    padding: 10px;
}

.icone {
    height: 30px;
}

.dash {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    background-color: rgb(71, 101, 199);
}

.dash .topo {
    height: 20%;
    width: 100%;
    background-color: rgb(71, 173, 199);

}