@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* CONFIGURAÇÃO UNIVERSAL - PEGA EM TODOS OS ELEMENTOS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CONFIGURAÇÃO PARA A BODY */

body {
    font-family: 'Poppins';
}


/* CONTAINER PRINCIPAL */

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* MENU LATERAL */

.menu {
    width: 20%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* DIV PERFIL */

.perfil {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


/* LOGO DE PERFIL */

.perfil img {
    width: 100%;
    max-width: 50px;
}


/* SEÇÕES */

.secoes {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* LISTA DE SEÇÕES */

.secoes ul {
    padding-left: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* ELEMENTOS DA LISTA DE SEÇÕES */

.secoes ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.secoes ul li:hover {
    transition: 0.2s;
    color: #e1186c;
}

.secoes img {
    width: 100%;
    max-width: 30px;
}


/* DIV SAIR  */

.sair {
    width: 100%;
    padding: 20px 10px;
    border-top: 1px solid #e40d60;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}


/* IMAGEM DA DIV SAIR */

.sair img {
    width: 100%;
    max-width: 30px;
}

.sair a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.sair a:hover {
    transition: 0.2s;
    color: #e40d60;
}



/* -------------------- CONTAINER DO LADO DIREITO -------------------- */

.container-direito {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------------------------- */



/* -------------------- CONTAINER DA VINICOLA -------------------- */

#vinicola-container {
    width: 100%;
    height: 100%;
}

/* CONTEUDO VINICOLA */

.vinicola-content {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}


/* TITULO VINICOLA */

.vinicola-titulo {
    width: 100%;
    height: 10%;
    border: 1px solid #e40d60;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* VINICOLA CARDS*/

.vinicola-cards {
    width: 100%;
    height: 80%;
    padding: 30px;
    border: 1px solid #e40d60;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
}


/* CARDS */

.card-vinicola {
    width: 100%;
    max-width: 250px;
    height: 30%;
    padding: 10px;
    border: 1px solid #cb3a76;
    border-radius: 10px;
    flex: 1fr 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    cursor: pointer;   
}


/* IMAGEM DO CARD */

.card-vinicola img {
    width: 100%;
    max-width: 50px;
    /* background-color: #0eda6f; */
}

/* ------------------------------------------------------------------- */


/* -------------------- CONTAINER DO BARRIL --------------------  */

#barril-container {
    width: 100%;
    height: 100%;
}


/* CONTEUDO BARRIL */

.barril-content {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}


/* KPIS */

.KPIS {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}


/* CARD KPIS */

.card-KPI {
    width: 20%;
    height: 100%;
    border: 1px solid #e40d60;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: 0.2s;
}

.card-KPI:hover {
    transition: 0.2s;
    background-color: #e1186c24;
}


/* DIV DA IMAGEM - KPI */

.image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* IMAGEM DA KPI */

.image img {
    width: 100%;
    max-width: 40px;
}


/* SEGUNDA DIV - LABEL */

.card-KPI div:nth-of-type(2) {
    width: 50%;
    height: 100%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    text-align: right;
}


/* PARAGRAFO */

.card-KPI div p {
    color: rgb(237, 36, 36);
}

.card-KPI .sensor-quantidade {
    font-size: 1.7rem;
}

.card-KPI .sensor-gelado {
    color: #13bad7;
}

.card-KPI .sensor-quente {
    color: #fc463d;
}

.card-KPI div .temp {
    color: #cb3a76;
}

.card-KPI div span {
    font-size: 0.7rem;
}


/* -------------------- BARRIL CARDS CONTENT -------------------- */

#barril-cards-content {
    width: 100%;
    height: 80%;
}

/* ------------------------------------------------------------------- */


/* BARRIL CARDS */

.barril-cards {
    width: 100%;
    height: 100%;
    padding: 30px;
    border: 1px solid #e40d60;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
}


/* CARD BARRIL */

#card-barril1, #card-barril2, #card-barril3, #card-barril4, #card-barril5 {
    width: 250px;
    max-width: 250px; 
    height: 100%;
    max-height: 25%;
}

.card-barril {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #cb3a76;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    cursor: pointer;  
}


/* IMAGEM BARRIL */

.card-barril img {
    width: 100%;
    max-width: 50px;
}


/* -------------------- CONTEUDO DAS DASH -------------------- */

#dash-content {
    width: 100%;
    height: 80%;
    padding: 0;
}



/* -------------------- DASHBOARDS -------------------- */

#dash1, #dash2, #dash3, #dash4, #dash5 {
    width: 100%;
    height: 100%;
}


/* CONTAINER DASH */

.dash {
    width: 100%;
    height: 100%;
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/* MEIO DA DASH */

.meio {
    width: 100%;
    height: 100%;
    border: 1px solid #e40d60;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}


/* METRICAS DO LADO ESQUERDO - GRAFICOS */

.metricas-esquerda {
    width: 70%;
    height: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* GRAFICOS*/

.grafico {
    width: 100%;
    height: 50%;
}

/* DIV COM OS TITULOS */

.titulo {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

/* CONFIGURAÇÃO GLOBAL PARA O GRAFICO */

canvas {
    max-width: 100%;
    max-height: 100%;
    background-color: azure;
}


/* DIV QUE AGRUPA A TAG CANVAS */

.linha, .barra {
    width: 100%;
    height: 80%;
}


/* METRICAS DO LADO DIREITO */

.metricas-direita {
    width: 30%;
    height: 100%;
    padding: 20px 30px;
}


/* METRICAS DO TOPO */

.metricas-topo {
    width: 100%;
    height: 50%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
}


/* DIV DA DATA */

.data {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;   
}

#data-atual1, #data-atual2, #data-atual3, #data-atual4, #data-atual5 {
    color: #e1186c; 
}


/* DIV QUE AGRUPA A IMAGEM E SUA LABEL */

.metricas-topo .temperatura{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LABEL */

.metricas-topo p{
    font-size: 0.9rem;
}

/* IMAGEM */

.metricas-topo img {
    width: 100%;
    max-width: 120px;
    
}

/* METRICAS DE BAIXO */

.metricas-baixo {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.metricas-baixo .umidade {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.metricas-baixo img {
    width: 100%;
    max-width: 120px;
}


/* CONTAINER DAS NOTIFICAÇÕES */

#notificacoes-content {
    width: 100%;
    height: 100%;
    padding: 30px;
}


/* CONTAINER INTERNO PRA AGRUPAR DIV TITULO E CONTEUDO */

.notificacoes-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* DIV TITULO */

.notificacoes-titulo {
    width: 100%;
    height: 10%;
    border: 1px solid #e40d60;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* DIV CONTEUDO */

.notificacoes-conteudo {
    width: 100%;
    height: 80%;
    border: 1px solid #e40d60;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CONTAINER DAS CONFIGURAÇÕES */

#configuracoes-content {
    width: 100%;
    height: 100%;
    padding: 30px;
}


/* CONTAINER INTERNO PRA AGRUPAR DIV TITULO E CONTEUDO */

.configuracoes-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* DIV TITULO */

.configuracoes-titulo {
    width: 100%;
    height: 10%;
    border: 1px solid #e40d60;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* DIV CONTEUDO */

.configuracoes-conteudo {
    width: 100%;
    height: 80%;
    border: 1px solid #e40d60;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}