@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* CONFIGURAÇÃO UNIVERSAL - PEGA EM TODOS OS ELEMENTOS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CONFIGURAÇÃO PARA A BODY */

body {
    font-family: 'Poppins';
    background-color: #98abd5;
}


/* CONTAINER PRINCIPAL */

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CONTAINER DA DASHBOARD */

.container {
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;

    background-color: azure;
}


/* MENU LATERAL */

.menu {
    width: 20%;
    height: 100%;
    padding: 30px;
}


/* DIV PERFIL */

.perfil {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


/* LOGO DE PERFIL */

.perfil img {
    width: 100%;
    max-width: 50px;
}


/* CONFIGURAÇÕES */

.configuracoes {
    width: 100%;
    margin-top: 30px;
    padding-left: 10px;
}


/* LISTA DE CONFIGURAÇÕES */

.configuracoes ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* ELEMENTOS DA LISTA DE CONFIGURAÇÕES */

.configuracoes ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.configuracoes ul li:hover {
    transition: 0.2s;
    color: #e1186c;
}

.configuracoes img {
    width: 100%;
    max-width: 30px;
}


/* SALAS */

.salas {
    width: 100%;
    margin-top: 100px;
    padding-left: 10px;
}


/* LISTA DE SALAS */

.salas ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* ELEMENTOS DA LISTA DE SALAS */

.salas ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #e40d60;
}


/* IMAGEM DA LISTA DE SALAS */

.salas img {
    width: 100%;
    max-width: 30px;
}


/* DIV DOS BOTOES */

.botoes {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
    /* background-color: #0eda6f; */
}


/* CONFIGURAÇÃO PARA OS BOTÕES */

.botoes button {
    width: 70%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    transition: 0.2s;
    cursor: pointer;

}


/* BOTÃO ATUALIZAR DADOS */

#btn-atualizar {
    background-color: #c3155e;
}

#btn-atualizar:hover {
    transition: 0.2s;
    background-color: #e1186c;
}


/* BOTÃO VOLTAR */

#btn-voltar {
    background-color: #1b0a13;
}

#btn-voltar:hover {
    transition: 0.2s;
    background-color: #1b0a13de;
}


/* DIV SAIR  */

.sair {
    width: 100%;
    margin-top: 50px;
    padding: 20px 10px;
    border-top: 1px solid #e40d60;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}


/* IMAGEM DA DIV SAIR */

.sair img {
    width: 100%;
    max-width: 30px;
}

.sair a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.sair a:hover {
    transition: 0.2s;
    color: #e40d60;
}


/* CONTAINER DA DASHBOARD */

#dashboard-content {
    width: 80%;
    height: 100%;
    /* background-color: #0eda6f; */
}


/* DASHBOARD */

.dash {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    /* background-color: aqua; */
}


/* TOPO DA DASH */

.topo {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    /* background-color: azure; */
}


/* CARD KPIS */

.card {
    width: 25%;
    height: 100%;
    border: 1px solid #e40d60;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}


/* DIV DA IMAGEM - KPI */

.image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* IMAGEM DA KPI */

.image img {
    width: 100%;
    max-width: 40px;
}


/* SEGUNDA DIV - LABEL */

.card div:nth-of-type(2) {
    width: 50%;
    height: 100%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    text-align: right;
}


/* PARAGRAFO */

.card div p {
    color: #0eda6f;
}

.card .sensor-quantidade {
    font-size: 1.7rem;
}

.card .sensor-gelado {
    color: #13bad7;
}

.card .sensor-quente {
    color: #fc463d;
}

.card div .temp {
    color: #cb3a76;
}

.card div span {
    font-size: 0.7rem;
}


/* MEIO DA DASH */

.meio {
    width: 100%;
    height: 80%;
    border: 1px solid #e40d60;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}


/* METRICAS DO LADO ESQUERDO - GRAFICOS */

.metricas-esquerda {
    width: 70%;
    height: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: #13bad7; */
}


/* GRAFICOS*/

.grafico {
    width: 100%;
    height: 50%;
}

/* DIV COM OS TITULOS */

.titulo {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

/* SPAN - DATA */

.titulo span {
    color: #e1186c;
}

/* CONFIGURAÇÃO GLOBAL PARA O GRAFICO */

canvas {
    max-width: 100%;
    max-height: 100%;
    background-color: azure;
}


/* DIV QUE AGRUPA A TAG CANVAS */

.linha, .barra {
    width: 100%;
    height: 80%;
}


/* METRICAS DO LADO DIREITO */

.metricas-direita {
    width: 30%;
    height: 100%;
    padding: 20px 30px;
}


/* METRICAS DO TOPO */

.metricas-topo {
    width: 100%;
    height: 50%;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
}


/* DIV DA DATA */

.data {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;   
}

.data span {
    color: #e1186c; 
}


/* DIV QUE AGRUPA A IMAGEM E SUA LABEL */

.metricas-topo .temperatura, .metricas-topo .umidade{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LABEL */

.metricas-topo p{
    font-size: 0.9rem;
}

/* IMAGEM */

.metricas-topo img {
    width: 100%;
    max-width: 120px;
    
}

/* METRICAS DE BAIXO */

.metricas-baixo {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.metricas-baixo img {
    width: 100%;
    max-width: 100px;
}


/* CONTAINER DAS NOTIFICAÇÕES */

#notificacoes-content {
    width: 80%;
    height: 100%;
    background-color: yellow;
}


/* CONTAINER DAS CONFIGURAÇÕES */

#configuracoes-content {
    width: 80%;
    height: 100%;
    background-color: blue;
}