@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins';
    background: rgb(34, 18, 26);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.titulo {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.container {
    width: 65%;
    height: 80%;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.texto {
    width: 100%;
    height: 20%;
    text-align: justify;
    font-size: smaller;
}

.form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputs {
    width: 45%;
    height: 100%;
    color: rgb(211, 97, 125);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;
}

.inputs p {
    width: 100%;
    font-size: small;
}

.inputs input {
    width: 100%;
    padding: 10px ;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

#output {
    width: 55%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

#output div {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#output p {
    width: 80%;
}


.roxo {
    color: lightgreen;
}

.verde {
    color: lightskyblue;
}

.negrito {
    color: lightgreen;
}

.litrosvendidos {
    color: lightsalmon;
}

.bold {
    font-weight: bold;

}

.botoes {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.botoes div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: #C3155E;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #C3155E;
    width: 150px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}