<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <!-- JS -->
    <script src="../assets/js/trocaPagina.js"></script>
    <!-- TITLE -->
    <title>Cadastro</title>
</head>

<body>

    <main>

        <div class="container">

            <div class="icones">

                <a href="index.html">
                    <img src="../assets/img/cadastro-login/seta.png" alt="">
                </a>

                <img id="icone" src="../assets/img/home/icone.png" alt="">
            
            </div>

            <div class="content">

                <div class="login">

                    <h1>Bem Vindo!</h1>

                    <p>Para ser cliente, é necessário preencher o formulário de cadastro.</p>
                    <div>

                        <p class="label-button">Já se cadastrou?</p>
                        <button onclick="telaLogin()">Login</button>

                    </div>

                </div>

                <div class="form-cadastrar">

                    <h1>Crie sua Conta</h1>

                    <div class="divInput">

                        <div class="esquerdo">

                            <div>
                                <p>Nome da Empresa</p>
                                <input type="text" id="">
                            </div>

                            <div>
                                <p>Representante</p>
                                <input type="text" id="">
                            </div>

                            <div>
                                <p>Email</p>
                                <input type="email" id="">
                            </div>

                            <div>
                                <p>Logradouro</p>
                                <input type="text" id="">
                            </div>

                            <div>
                                <p>Bairro</p>
                                <input type="text" id="">
                            </div>

                        </div>

                        <div class="direito">

                            <div>
                                <p>CNPJ</p>
                                <input type="text" id="">
                            </div>

                            <div>
                                <p>Telefone</p>
                                <input type="text" id="">
                            </div>

                            <div>
                                <p>Senha</p>
                                <input type="password" id="">
                            </div>


                            <div>
                                <p>Complemento</p>
                                <input type="text" id="">
                            </div>

                            <div>
                                <p>Cidade / Estado</p>

                                <div>
                                    <input type="text"  id="input-estado">
                                    <select id="select-uf">
                                        <option value="#"></option>
                                        <option value="AC">AC</option>
                                        <option value="AL">AL</option>
                                        <option value="AP">AP</option>
                                        <option value="AM">AM</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MT">MT</option>
                                        <option value="MS">MS</option>
                                        <option value="MG">MG</option>
                                        <option value="PA">PA</option>
                                        <option value="PB">PB</option>
                                        <option value="PR">PR</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RS">RS</option>
                                        <option value="RO">RO</option>
                                        <option value="RR">RR</option>
                                        <option value="SC">SC</option>
                                        <option value="SP">SP</option>
                                        <option value="SE">SE</option>
                                        <option value="TO">TO</option>
                                    </select>
                                </div>

                            </div>

                        </div>


                    </div>

                    <div class="divCheck">
                        <input type="checkbox"id="checkbox">
                        <p>Ao clicar em <b>Cadastrar</b> o cliente declara que concorda em compartilhar seus dados pessoais com nosso Site.</p>
                    </div>

                    <button>Cadastrar</button>

                </div>

            </div>

        </div>

    </main>

</body>

</html>