<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <!-- TITLE -->
    <title>Cadastro</title>
</head>

<body>

    <main>

        <div class="container">

            <div class="icones">
                <img src="../assets/img/cadastro-login/seta.png" alt="">

                <img id="icone" src="../assets/img/home/icone.png" alt="">
            </div>

            <div class="content">

                <div class="form-cadastrar">

                    <h1>Crie sua Conta</h1>

                    <div class="divInput">

                        <p>Email</p>
                        <input type="email" placeholder="Ex.: kauan@gmail.com">

                        <p>Senha</p>
                        <input type="password" placeholder="******" id="">

                    </div>

                    <button>Login</button>

                </div>

                <div class="login">

                    <h1>Bem Vindo!</h1>

                    <p>Para ser cliente, é necessário preencher o formulário de cadastro.</p>
                    <div>

                        <p class="label-button">Já se cadastrou?</p>
                        <button>Login</button>

                    </div>

                </div>

            </div>

        </div>

    </main>

</body>

</html>