<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <!-- JS -->
    <script src="../assets/js/trocaPagina.js"></script>
    <script src="../assets/js/mascaraTelefone.js"></script>
    <!-- TITLE -->
    <title>Cadastro</title>
</head>

<body>


    <!-- CONTAINER PRINCIPAL -->

    <main>


        <!-- CONTAINER -->

        <div class="container">


            <!-- DIV COM OS ICONES -->

            <div class="icones">

                <a href="index.html">
                    <img src="../assets/img/cadastro-login/seta.png" alt="">
                </a>

                <img id="icone" src="../assets/img/home/logo-white.png" alt="">
            
            </div>


            <!-- CONTENT  -->

            <div class="content">


                <!-- CONTAINER DE LOGIN -->

                <div class="login">

                    <h1>Bem Vindo!</h1>

                    <p>Para ser cliente, é necessário preencher o formulário de cadastro.</p>
                    <div>

                        <p class="label-button">Já se cadastrou?</p>
                        <button onclick="telaLogin()">Login</button>

                    </div>

                </div>


                <!-- CONTAINER DE CADASTRO -->

                <div class="form-cadastrar">

                    <h1>Crie sua Conta</h1>


                    <!-- DIV QUE AGRUPA AS INPUTS DO LADO ESQUERDO E DIREITO -->

                    <div class="divInput">

                        <!-- LADO ESQUERDO -->

                        <div class="esquerdo">

                            <div>
                                <p>Nome da Empresa</p>
                                <input type="text" id="">
                            </div>

                            <div>
                                <p>Representante</p>
                                <input type="text" id="">
                            </div>

                            <div>
                                <p>Email</p>
                                <input type="email" id="">
                            </div>

                        </div>


                        <!-- LADO DIREITO -->

                        <div class="direito">

                            <div>
                                <p>CNPJ</p>
                                <input type="text" id="">
                            </div>

                            <div>
                                <p>Telefone</p>
                                <input type="tel" maxlength="15" id="" onkeyup="telefone(event)">
                            </div>

                            <div>
                                <p>Senha</p>
                                <input type="password" id="">
                            </div>

                        </div>


                    </div>


                    <!-- DIV COM O CHECKBOX -->

                    <div class="divCheck">
                        <input type="checkbox"id="checkbox" required>
                        <p>Ao clicar em <b>Cadastrar</b> você declara que concorda em compartilhar seus dados pessoais com nossa empresa.</p> 
                        
                        <!-- alterar site para empresa -->
                    </div>


                    <!-- BOTÃO PARA CADASTRA-SE -->

                    <button>Cadastrar</button>

                </div>

            </div>

        </div>

    </main>

</body>

</html>