<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/dash2.css">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- TITLE -->
    <title>DashBoard - 2</title>
</head>

<body>

    <main>


        <!-- CONTAINER - DASHBOARD -->

        <div class="container">


            <!-- MENU LATERAL -->

            <div class="menu">


                <!-- PEFIL -->

                <div class="perfil">

                    <img src="../assets/img/dashboard/perfil.png">
                    <h3>Kauan Gabriel</h3>

                </div>


                <!-- LISTA DE CONFIGURAÇÕES -->

                <nav class="configuracoes">

                    <ul>
                        <li><img class="icone" src="../assets/img/dashboard/dash.png">DashBoard</li>
                        <li><img class="icone" src="../assets/img/dashboard/bell.png">Notificações</li>
                        <li><img class="icone" src="../assets/img/dashboard/settings.png">Configuracões</li>
                    </ul>

                </nav>


                <!-- LISTA DE SALAS -->

                <nav class="salas">

                    <ul>
                        <li><img class="icone" src="../assets/img/dashboard/comodo-vinho.png">Sala 1</li>
                        <li><img class="icone" src="../assets/img/dashboard/sala.png">Sala 2</li>
                    </ul>

                </nav>


                <!-- ATUALIZAR DASHBOARD -->

                <div class="botoes">

                    <button id="btn-atualizar">Atualizar dados</button>
                    <button id="btn-voltar">Retornar ao Site</button>

                </div>


                <!-- SAIR DA CONTA -->

                <div class="sair">

                    <img class="icone-sair" src="../assets/img/dashboard/logout.png">
                    <p><a href="login.html">Sair da Conta</a></p>

                </div>

            </div>


            <!-- DASHBOARD -->

            <div class="dash">

                <!-- TOPO -->

                <div class="topo">

                    <div class="card">

                        <div class="image">

                            <img src="../assets/img/dashboard/sensor.png" alt="">

                        </div>

                        <div>

                            <p class="sensor-quantidade">105/105</p>

                            <span>Sensores Conectados</span>

                        </div>

                    </div>

                    <div class="card">

                        <div class="image">

                            <img src="../assets/img/dashboard/adequado.png" alt="">

                        </div>

                        <div>

                            <div>
                                <p class="sensor-quantidade">83</p>
                                <p class="temp">~16ºC</p>
                            </div>

                            <span>Barris Adequados</span>

                        </div>

                    </div>

                    <div class="card">

                        <div class="image">

                            <img src="../assets/img/dashboard/gelado.png" alt="">

                        </div>

                        <div>

                            <div>
                                <p class="sensor-quantidade sensor-gelado">14</p>
                                <p class="temp">~10ºC</p>
                            </div>

                            <span>Sensores Gelados</span>

                        </div>

                    </div>

                    <div class="card">

                        <div class="image">

                            <img src="../assets/img/dashboard/quente.png" alt="">

                        </div>

                        <div>

                            <div>
                                <p class="sensor-quantidade sensor-quente">7</p>
                                <p class="temp">~27ºC</p>
                            </div>

                            <span>Sensores Quentes</span>

                        </div>

                    </div>

                </div>


                <!-- MEIO -->

                <div class="meio">


                    <!-- METRICAS DA ESQUERDA - GRAFICOS -->

                    <div class="metricas-esquerda">

                        <!-- PRIMEIRO GRÁFICO -->

                        <div class="grafico">

                            <!-- TITULO DO GRAFICO -->

                            <div class="titulo">

                                <p>Histórico de Temperaturas - (Barril Nº 23)</p>

                            </div>

                            <!-- GRAFICO -->

                            <div class="linha">
                                <canvas id="line"></canvas>
                            </div>

                        </div>


                        <!-- SEGUNDO GRAFICO -->

                        <div class="grafico">

                            <!-- TITULO DO GRAFICO -->

                            <div class="titulo">

                                <p>Histórico de Umidade Durante a Semana - (Barril Nº 23)</p>

                            </div>

                            <!-- GRAFICO -->

                            <div class="barra">
                                <canvas id="bar"></canvas>
                            </div>

                        </div>

                    </div>


                    <!-- METRICAS DA DIREITA -->

                    <div class="metricas-direita">

                        <div class="metricas-topo">

                            <div class="data">
                                <p>Métricas Atual</p>
                                <span>10/04/2024</span>
                            </div>

                            <div class="temperatura">
                                <img src="../assets/img/dashboard/kpi1.png" alt="">
                                <p>Temperatura</p>
                            </div>

                            <div class="umidade">
                                <img src="../assets/img/dashboard/kpi2.png" alt="">
                                <p>Umidade</p>
                            </div>

                        </div>

                        <div class="metricas-baixo">

                            <img src="../assets/img/dashboard/select.png" alt="">

                        </div>

                    </div>


                </div>

            </div>

        </div>

    </main>

</body>

</html>

<script>
    const ctx1 = document.getElementById('line');
    const ctx2 = document.getElementById('bar');

    new Chart(ctx1, {
        type: 'line',
        data: {
            labels: ['0h', '1h', '2h', '3h', '4h', '5h', '6h', '7h', '8h', '9h', '10h', '11h', '12h', '13h', '14h', '15h', '16h', '17h', '18h', '19h', '20h', '21h', '22h', '23h'],
            datasets: [{
                label: 'Temperatura',
                data: [15, 20, 22, 26, 16, 18, 29],
                borderWidth: 2,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ['DOM', 'SEG', 'TER', 'QUA', 'QUI', 'SEX', 'SÁB'],
            datasets: [{
                label: 'Umidade',
                data: [15, 20, 22, 26, 16, 18, 29, 100],
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });
</script>