<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/dash.css">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- ATUALIZAR DATA -->
    <script src="../assets/js/atualizarData.js"></script>
    <!-- TROCA DE CONTEUDO -->
    <script src="../assets/js/trocaConteudo.js"></script>
    <!-- TITLE -->
    <title>Dashboard</title>
</head>

<body>


    <!-- CONTAINER PRINCIPAL -->

    <main>

        <!-- MENU -->

        <div class="menu">


            <!-- PEFIL -->

            <div class="perfil">

                <img src="../assets/img/dashboard/perfil.png">
                <h3>Fernanda</h3>

            </div>


            <!-- LISTA DE SEÇÕES -->

            <nav class="secoes">


                <!-- DASHBOARD - NOTIFICAÇÕES - CONFIGURAÇÕES -->

                <ul>
                    <li id="dashboard"><img class="icone" src="../assets/img/dashboard/dash.png">DashBoard</li>
                    <li id="notificacoes"><img class="icone" src="../assets/img/dashboard/bell.png">Notificações</li>
                    <li id="configuracoes"><img class="icone" src="../assets/img/dashboard/settings.png">Configuracões
                    </li>
                </ul>


                <!-- SAIR DA CONTA -->

                <div class="sair">

                    <img class="icone-sair" src="../assets/img/dashboard/logout.png">
                    <p><a href="login.html">Sair da Conta</a></p>

                </div>

            </nav>

        </div>


        <!-- CONTAINER DO LADO DIREITO -->

        <div class="container-direito">


            <!-- CONTAINER VINICOLA -->

            <div id="vinicola-container" style="display: block;">


                <!-- CONTEUDO VINICOLA -->

                <div class="vinicola-content">


                    <!-- TITULO VINICOLA -->

                    <div class="vinicola-titulo">
                        <h1>Vinícolas</h1>
                    </div>


                    <!-- VINICOLA CARDS -->

                    <div class="vinicola-cards">


                        <!-- CARD 1º -->

                        <div id="card-vinicola1" class="card-vinicola">

                            <h3>Vinícola 1</h3>

                            <img src="../assets/img/dashboard/vinicola.png" alt="">

                        </div>

                    </div>

                </div>

            </div>


            <!-- CONTAINER BARRIL -->

            <div id="barril-container" style="display: none;">


                <!-- CONTEUDO BARRIL -->

                <div class="barril-content">


                    <!-- CONTEUDO KPIS -->

                    <div class="KPIS">


                        <!-- KPIS -->

                        <div id="card1" class="card-KPI">

                            <div class="image">

                                <img src="../assets/img/dashboard/sensor.png" alt="">

                            </div>

                            <div>

                                <p class="sensor-quantidade">1/5</p>

                                <span>Sensores Desconectados</span>

                            </div>

                        </div>

                        <div id="card2" class="card-KPI">

                            <div class="image">

                                <img src="../assets/img/dashboard/umidade-elevada.png" alt="">

                            </div>

                            <div>

                                <div>
                                    <p class="sensor-quantidade sensor-umido">1</p>
                                </div>

                                <span>Umidade Acima do Adequado</span>

                            </div>

                        </div>

                        <div id="card3" class="card-KPI">

                            <div class="image">

                                <img src="../assets/img/dashboard/umidade-baixa.png" alt="">

                            </div>

                            <div>

                                <div>
                                    <p class="sensor-quantidade sensor-pouco-umido">1</p>

                                </div>

                                <span>Umidade Abaixo do Adequado</span>

                            </div>

                        </div>

                        <div id="card4" class="card-KPI">

                            <div class="image">

                                <img src="../assets/img/dashboard/gelado.png" alt="">

                            </div>

                            <div>

                                <div>
                                    <p class="sensor-quantidade sensor-gelado">1</p>
                                </div>

                                <span>Temperatura Abaixo do Adequado</span>

                            </div>

                        </div>

                        <div id="card5" class="card-KPI">

                            <div class="image">

                                <img src="../assets/img/dashboard/quente.png" alt="">

                            </div>

                            <div>

                                <div>
                                    <p class="sensor-quantidade sensor-quente">1</p>
                                </div>

                                <span>Temperatura Acima do Elevado</span>

                            </div>

                        </div>

                    </div>


                    <!-- CONTEUDO DOS CARDS BARRIL -->

                    <div id="barril-cards-content" style="display: none;">


                        <!-- CARD BARRIS -->

                        <div class="barril-cards">


                            <!-- CARDS -->

                            <div id="card-barril1">

                                <div class="card-barril">
                                    <h3>Barril 1</h3>
                                    <img src="../assets/img/dashboard/barril.png" alt="">
                                </div>

                            </div>

                            <div id="card-barril2">

                                <div class="card-barril">
                                    <h3>Barril 2</h3>
                                    <img src="../assets/img/dashboard/barril.png" alt="">
                                </div>

                            </div>

                            <div id="card-barril3">

                                <div class="card-barril">
                                    <h3>Barril 3</h3>
                                    <img src="../assets/img/dashboard/barril.png" alt="">
                                </div>

                            </div>

                            <div id="card-barril4">

                                <div class="card-barril">
                                    <h3>Barril 4</h3>
                                    <img src="../assets/img/dashboard/barril.png" alt="">
                                </div>

                            </div>

                            <div id="card-barril5">

                                <div class="card-barril">
                                    <h3>Barril 5</h3>
                                    <img src="../assets/img/dashboard/barril.png" alt="">
                                </div>

                            </div>


                        </div>

                    </div>


                    <div id="dash-content" style="display: none;">

                        <div id="dash1" style="display: none;">

                            <div class="dash">

                                <!-- MEIO -->

                                <div class="meio">


                                    <!-- METRICAS DA ESQUERDA - GRAFICOS -->

                                    <div class="metricas-esquerda">

                                        <!-- PRIMEIRO GRÁFICO -->

                                        <div class="grafico">

                                            <!-- TITULO DO GRAFICO -->

                                            <div class="titulo">

                                                <p>Histórico de Temperaturas Diária - (Barril Nº 1)</p>

                                            </div>

                                            <!-- GRAFICO -->

                                            <div class="linha">
                                                <canvas id="line1"></canvas>
                                            </div>

                                        </div>


                                        <!-- SEGUNDO GRAFICO -->

                                        <div class="grafico">

                                            <!-- TITULO DO GRAFICO -->

                                            <div class="titulo">

                                                <p>Histórico de Umidade Diária - (Barril Nº 1)</p>

                                            </div>

                                            <!-- GRAFICO -->

                                            <div class="barra">
                                                <canvas id="bar1"></canvas>
                                            </div>

                                        </div>

                                    </div>


                                    <!-- METRICAS DA DIREITA -->

                                    <div class="metricas-direita">

                                        <div class="metricas-topo">

                                            <div class="data">
                                                <p>Métricas Atual</p>
                                                <p id="data-atual1"></p>
                                            </div>

                                            <div class="temperatura">
                                                <img src="../assets/img/dashboard/kpi1.png" alt="">
                                                <p>Temperatura</p>
                                            </div>

                                        </div>

                                        <div class="metricas-baixo">

                                            <div class="umidade">
                                                <img src="../assets/img/dashboard/kpi2.png" alt="">
                                                <p>Umidade</p>
                                            </div>

                                        </div>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div id="dash2" style="display: none;">

                            <div class="dash">


                                <!-- MEIO -->

                                <div class="meio">


                                    <!-- METRICAS DA ESQUERDA - GRAFICOS -->

                                    <div class="metricas-esquerda">

                                        <!-- PRIMEIRO GRÁFICO -->

                                        <div class="grafico">

                                            <!-- TITULO DO GRAFICO -->

                                            <div class="titulo">

                                                <p>Histórico de Temperaturas Diária - (Barril Nº 2)</p>

                                            </div>

                                            <!-- GRAFICO -->

                                            <div class="linha">
                                                <canvas id="line2"></canvas>
                                            </div>

                                        </div>


                                        <!-- SEGUNDO GRAFICO -->

                                        <div class="grafico">

                                            <!-- TITULO DO GRAFICO -->

                                            <div class="titulo">

                                                <p>Histórico de Umidade Diária - (Barril Nº 2)</p>

                                            </div>

                                            <!-- GRAFICO -->

                                            <div class="barra">
                                                <canvas id="bar2"></canvas>
                                            </div>

                                        </div>

                                    </div>


                                    <!-- METRICAS DA DIREITA -->

                                    <div class="metricas-direita">

                                        <div class="metricas-topo">

                                            <div class="data">
                                                <p>Métricas Atual</p>
                                                <p id="data-atual2"></p>
                                            </div>

                                            <div class="temperatura">
                                                <img src="../assets/img/dashboard/kpi1.png" alt="">
                                                <p>Temperatura</p>
                                            </div>

                                        </div>

                                        <div class="metricas-baixo">

                                            <div class="umidade">
                                                <img src="../assets/img/dashboard/kpi2.png" alt="">
                                                <p>Umidade</p>
                                            </div>

                                        </div>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div id="dash3" style="display: none;">

                            <div class="dash">


                                <!-- MEIO -->

                                <div class="meio">


                                    <!-- METRICAS DA ESQUERDA - GRAFICOS -->

                                    <div class="metricas-esquerda">

                                        <!-- PRIMEIRO GRÁFICO -->

                                        <div class="grafico">

                                            <!-- TITULO DO GRAFICO -->

                                            <div class="titulo">

                                                <p>Histórico de Temperaturas Diária - (Barril Nº 3)</p>

                                            </div>

                                            <!-- GRAFICO -->

                                            <div class="linha">
                                                <canvas id="line3"></canvas>
                                            </div>

                                        </div>


                                        <!-- SEGUNDO GRAFICO -->

                                        <div class="grafico">

                                            <!-- TITULO DO GRAFICO -->

                                            <div class="titulo">

                                                <p>Histórico de Umidade Diária - (Barril Nº 1)</p>

                                            </div>

                                            <!-- GRAFICO -->

                                            <div class="barra">
                                                <canvas id="bar3"></canvas>
                                            </div>

                                        </div>

                                    </div>


                                    <!-- METRICAS DA DIREITA -->

                                    <div class="metricas-direita">

                                        <div class="metricas-topo">

                                            <div class="data">
                                                <p>Métricas Atual</p>
                                                <p id="data-atual3"></p>
                                            </div>

                                            <div class="temperatura">
                                                <img src="../assets/img/dashboard/kpi1.png" alt="">
                                                <p>Temperatura</p>
                                            </div>

                                        </div>

                                        <div class="metricas-baixo">

                                            <div class="umidade">
                                                <img src="../assets/img/dashboard/kpi2.png" alt="">
                                                <p>Umidade</p>
                                            </div>

                                        </div>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div id="dash4" style="display: none;">

                            <div class="dash">


                                <!-- MEIO -->

                                <div class="meio">


                                    <!-- METRICAS DA ESQUERDA - GRAFICOS -->

                                    <div class="metricas-esquerda">

                                        <!-- PRIMEIRO GRÁFICO -->

                                        <div class="grafico">

                                            <!-- TITULO DO GRAFICO -->

                                            <div class="titulo">

                                                <p>Histórico de Temperaturas Diária - (Barril Nº 4)</p>

                                            </div>

                                            <!-- GRAFICO -->

                                            <div class="linha">
                                                <canvas id="line4"></canvas>
                                            </div>

                                        </div>


                                        <!-- SEGUNDO GRAFICO -->

                                        <div class="grafico">

                                            <!-- TITULO DO GRAFICO -->

                                            <div class="titulo">

                                                <p>Histórico de Umidade Diária - (Barril Nº 4)</p>

                                            </div>

                                            <!-- GRAFICO -->

                                            <div class="barra">
                                                <canvas id="bar4"></canvas>
                                            </div>

                                        </div>

                                    </div>


                                    <!-- METRICAS DA DIREITA -->

                                    <div class="metricas-direita">

                                        <div class="metricas-topo">

                                            <div class="data">
                                                <p>Métricas Atual</p>
                                                <p id="data-atual4"></p>
                                            </div>

                                            <div class="temperatura">
                                                <img src="../assets/img/dashboard/kpi1.png" alt="">
                                                <p>Temperatura</p>
                                            </div>

                                        </div>

                                        <div class="metricas-baixo">

                                            <div class="umidade">
                                                <img src="../assets/img/dashboard/kpi2.png" alt="">
                                                <p>Umidade</p>
                                            </div>

                                        </div>

                                    </div>


                                </div>

                            </div>

                        </div>

                        <div id="dash5" style="display: none;">

                            <div class="dash">


                                <!-- MEIO -->

                                <div class="meio">


                                    <!-- METRICAS DA ESQUERDA - GRAFICOS -->

                                    <div class="metricas-esquerda">

                                        <!-- PRIMEIRO GRÁFICO -->

                                        <div class="grafico">

                                            <!-- TITULO DO GRAFICO -->

                                            <div class="titulo">

                                                <p>Histórico de Temperaturas Diária - (Barril Nº 5)</p>

                                            </div>

                                            <!-- GRAFICO -->

                                            <div class="linha">
                                                <canvas id="line5"></canvas>
                                            </div>

                                        </div>


                                        <!-- SEGUNDO GRAFICO -->

                                        <div class="grafico">

                                            <!-- TITULO DO GRAFICO -->

                                            <div class="titulo">

                                                <p>Histórico de Umidade Diária - (Barril Nº 5)</p>

                                            </div>

                                            <!-- GRAFICO -->

                                            <div class="barra">
                                                <canvas id="bar5"></canvas>
                                            </div>

                                        </div>

                                    </div>


                                    <!-- METRICAS DA DIREITA -->

                                    <div class="metricas-direita">

                                        <div class="metricas-topo">

                                            <div class="data">
                                                <p>Métricas Atual</p>
                                                <p id="data-atual5"></p>
                                            </div>

                                            <div class="temperatura">
                                                <img src="../assets/img/dashboard/kpi1.png" alt="">
                                                <p>Temperatura</p>
                                            </div>

                                        </div>

                                        <div class="metricas-baixo">

                                            <div class="umidade">
                                                <img src="../assets/img/dashboard/kpi2.png" alt="">
                                                <p>Umidade</p>
                                            </div>

                                        </div>

                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


            <!-- NOTIFICAÇÕES -->

            <div id="notificacoes-content" style="display: none;">

                <div class="notificacoes-container">

                    <div class="notificacoes-titulo">
                        <h1>Notificações</h1>
                    </div>

                    <div class="notificacoes-conteudo">
                        <h1>Implementação Futura!</h1>
                    </div>

                </div>

            </div>


            <!-- CONFIGURAÇÕES -->

            <div id="configuracoes-content" style="display: none;">

                <div class="configuracoes-container">

                    <div class="configuracoes-titulo">
                        <h1>Configurações</h1>
                    </div>

                    <div class="configuracoes-conteudo">
                        <h1>Implementação Futura!</h1>
                    </div>

                </div>

            </div>

        </div>

    </main>

</body>

</html>

<script>
    const linha1 = document.getElementById('line1');
    const linha2 = document.getElementById('line2');
    const linha3 = document.getElementById('line3');
    const linha4 = document.getElementById('line4');
    const linha5 = document.getElementById('line5');

    const barra1 = document.getElementById('bar1');
    const barra2 = document.getElementById('bar2');
    const barra3 = document.getElementById('bar3');
    const barra4 = document.getElementById('bar4');
    const barra5 = document.getElementById('bar5');

    new Chart(linha1, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Temperatura atual', 
                data: [18, 17, 17, 16, 18, 19, 17, 16, 15, 17, 18, 19, 18],
                borderWidth: 2,
            }, {
                label: 'Temperatura Max.', 
                data: [20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20],
                borderWidth: 2,
            }, {
                label: 'Temperatura Min', 
                data: [15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15],
                borderWidth: 2,
            }, {
                label: 'Aviso temperatura Min.', 
                data: [16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16],
                borderWidth: 2,
            }, {
                label: 'Aviso temperatura Max.', 
                data: [19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19],
                borderWidth: 2,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    new Chart(barra1, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Umidade',
                data: [70, 69, 60, 65, 70, 72, 78, 75, 70, 69, 65, 67, 68],
                borderWidth: 2,
            }, {
                label: 'Umidade Max.', 
                data: [80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80],
                borderWidth: 2,
            }, {
                label: 'Umidade Min.', 
                data: [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60],
                borderWidth: 2,
            }, {
                label: 'Aviso umidade Min.', 
                data: [65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65],
                borderWidth: 2,
            }, {
                label: 'Aviso umidade Max.', 
                data: [75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75],
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });

    new Chart(linha2, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Temperatura atual', 
                data: [18, 17, 17, 16, 18, 19, 17, 16, 15, 17, 18, 19, 18],
                borderWidth: 2,
            }, {
                label: 'Temperatura Max.', 
                data: [20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20],
                borderWidth: 2,
            }, {
                label: 'Temperatura Min', 
                data: [15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15],
                borderWidth: 2,
            }, {
                label: 'Aviso temperatura Min.', 
                data: [16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16],
                borderWidth: 2,
            }, {
                label: 'Aviso temperatura Max.', 
                data: [19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19],
                borderWidth: 2,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    new Chart(barra2, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Umidade',
                data: [70, 69, 60, 65, 70, 72, 78, 75, 70, 69, 65, 67, 68],
                borderWidth: 2,
            }, {
                label: 'Umidade Max.', 
                data: [80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80],
                borderWidth: 2,
            }, {
                label: 'Umidade Min.', 
                data: [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60],
                borderWidth: 2,
            }, {
                label: 'Aviso umidade Min.', 
                data: [65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65],
                borderWidth: 2,
            }, {
                label: 'Aviso umidade Max.', 
                data: [75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75],
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });

    new Chart(linha3, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Temperatura atual', 
                data: [18, 17, 17, 16, 18, 19, 17, 16, 15, 17, 18, 19, 18],
                borderWidth: 2,
            }, {
                label: 'Temperatura Max.', 
                data: [20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20],
                borderWidth: 2,
            }, {
                label: 'Temperatura Min', 
                data: [15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15],
                borderWidth: 2,
            }, {
                label: 'Aviso temperatura Min.', 
                data: [16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16],
                borderWidth: 2,
            }, {
                label: 'Aviso temperatura Max.', 
                data: [19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19],
                borderWidth: 2,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    new Chart(barra3, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Umidade',
                data: [70, 69, 60, 65, 70, 72, 78, 75, 70, 69, 65, 67, 68],
                borderWidth: 2,
            }, {
                label: 'Umidade Max.', 
                data: [80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80],
                borderWidth: 2,
            }, {
                label: 'Umidade Min.', 
                data: [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60],
                borderWidth: 2,
            }, {
                label: 'Aviso umidade Min.', 
                data: [65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65],
                borderWidth: 2,
            }, {
                label: 'Aviso umidade Max.', 
                data: [75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75],
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });

    new Chart(linha4, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Temperatura atual', 
                data: [18, 17, 17, 16, 18, 19, 17, 16, 15, 17, 18, 19, 18],
                borderWidth: 2,
            }, {
                label: 'Temperatura Max.', 
                data: [20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20],
                borderWidth: 2,
            }, {
                label: 'Temperatura Min', 
                data: [15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15],
                borderWidth: 2,
            }, {
                label: 'Aviso temperatura Min.', 
                data: [16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16],
                borderWidth: 2,
            }, {
                label: 'Aviso temperatura Max.', 
                data: [19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19],
                borderWidth: 2,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    new Chart(barra4, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Umidade',
                data: [70, 69, 60, 65, 70, 72, 78, 75, 70, 69, 65, 67, 68],
                borderWidth: 2,
            }, {
                label: 'Umidade Max.', 
                data: [80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80],
                borderWidth: 2,
            }, {
                label: 'Umidade Min.', 
                data: [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60],
                borderWidth: 2,
            }, {
                label: 'Aviso umidade Min.', 
                data: [65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65],
                borderWidth: 2,
            }, {
                label: 'Aviso umidade Max.', 
                data: [75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75],
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });

    new Chart(linha5, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Temperatura atual', 
                data: [18, 17, 17, 16, 18, 19, 17, 16, 15, 17, 18, 19, 18],
                borderWidth: 2,
            }, {
                label: 'Temperatura Max.', 
                data: [20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20],
                borderWidth: 2,
            }, {
                label: 'Temperatura Min', 
                data: [15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15],
                borderWidth: 2,
            }, {
                label: 'Aviso temperatura Min.', 
                data: [16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16],
                borderWidth: 2,
            }, {
                label: 'Aviso temperatura Max.', 
                data: [19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19],
                borderWidth: 2,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    new Chart(barra5, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Umidade',
                data: [70, 69, 60, 65, 70, 72, 78, 75, 70, 69, 65, 67, 68],
                borderWidth: 2,
            }, {
                label: 'Umidade Max.', 
                data: [80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80],
                borderWidth: 2,
            }, {
                label: 'Umidade Min.', 
                data: [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60],
                borderWidth: 2,
            }, {
                label: 'Aviso umidade Min.', 
                data: [65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65],
                borderWidth: 2,
            }, {
                label: 'Aviso umidade Max.', 
                data: [75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75],
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });

</script>