<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/dash.css">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../assets/js/trocaConteudo.js"></script>
    <script src="../assets/js/atualizarData.js"></script>
    <!-- TITLE -->
    <title>DashBoard</title>
</head>

<body>

    <main>


        <!-- CONTAINER - DASHBOARD -->

        <div class="container">


            <!-- MENU LATERAL -->

            <div class="menu">


                <!-- PEFIL -->

                <div class="perfil">

                    <img src="../assets/img/dashboard/perfil.png">
                    <h3>Fernanda</h3>

                </div>


                <!-- LISTA DE SEÇÕES -->

                <nav class="secoes">


                    <!-- DASHBOARD - NOTIFICAÇÕES - CONFIGURAÇÕES -->

                    <ul>
                        <li id="dashboard"><img class="icone" src="../assets/img/dashboard/dash.png">DashBoard</li>
                        <li id="notificacoes"><img class="icone" src="../assets/img/dashboard/bell.png">Notificações
                        </li>
                        <li id="configuracoes"><img class="icone"
                                src="../assets/img/dashboard/settings.png">Configuracões</li>
                    </ul>


                    <!-- SAIR DA CONTA -->

                    <div class="sair">

                        <img class="icone-sair" src="../assets/img/dashboard/logout.png">
                        <p><a href="login.html">Sair da Conta</a></p>

                    </div>

                </nav>

            </div>


            <!-- DASHBOARD -->

            <div id="dashboard-content" style="display: block;">


                <!-- CONTAINER DA VINICOLA -->

                <div id="vinicola-content" style="display: block;">

                    <div class="vinicola-container">

                        <div class="vinicolas-titulo">
                            <h1>Vinicolas</h1>
                        </div>


                        <!-- VINICOLAS -->

                        <div class="vinicolas">


                            <!-- CARD DE VINICOLAS -->

                            <div id="card-vinicola1" class="card-vinicola">

                                <h3>Vinicola 1</h3>

                                <img src="../assets/img/dashboard/vinicola.png" alt="">

                            </div>

                        </div>

                    </div>

                </div>

                <div id="barris-content" style="display: none;">

                    <div class="barris-container">

                        <!-- TOPO -->

                        <div class="topo">


                            <!-- KPIS -->

                            <div id="card1" class="card">

                                <div class="image">

                                    <img src="../assets/img/dashboard/sensor.png" alt="">

                                </div>

                                <div>

                                    <p class="sensor-quantidade">0/1</p>

                                    <span>Sensores Desconectados</span>

                                </div>

                            </div>

                            <div id="card2" class="card">

                                <div class="image">

                                    <img src="../assets/img/dashboard/umidade-elevada.png" alt="">

                                </div>

                                <div>

                                    <div>
                                        <p class="sensor-quantidade">0</p>
                                    </div>

                                    <span>Umidade Acima do Adequado</span>

                                </div>

                            </div>

                            <div id="card3" class="card">

                                <div class="image">

                                    <img src="../assets/img/dashboard/umidade-baixa.png" alt="">

                                </div>

                                <div>

                                    <div>
                                        <p class="sensor-quantidade">0</p>
                                        
                                    </div>

                                    <span>Umidade Abaixo do Adequado</span>

                                </div>

                            </div>

                            <div id="card4" class="card">

                                <div class="image">

                                    <img src="../assets/img/dashboard/gelado.png" alt="">

                                </div>

                                <div>

                                    <div>
                                        <p class="sensor-quantidade sensor-gelado">0</p>
                                    </div>

                                    <span>Temperatura Abaixo do Adequado</span>

                                </div>

                            </div>

                            <div id="card5" class="card">

                                <div class="image">

                                    <img src="../assets/img/dashboard/quente.png" alt="">

                                </div>

                                <div>

                                    <div>
                                        <p class="sensor-quantidade sensor-quente">0</p>
                                    </div>

                                    <span>Temperatura Acima do Elevado</span>

                                </div>

                            </div>

                        </div>


                        <!-- VINICOLAS -->

                        <div class="barris">


                            <!-- CARD DE VINICOLAS -->

                            <div id="card-barril1" class="card-barril">

                                <h3>Barril 1</h3>

                                <img src="../assets/img/dashboard/barril.png" alt="">

                            </div>

                            <div id="card-barril2" class="card-barril">

                                <h3>Barril 2</h3>

                                <img src="../assets/img/dashboard/barril.png" alt="">

                            </div>

                            <div id="card-barril3" class="card-barril">

                                <h3>Barril 3</h3>

                                <img src="../assets/img/dashboard/barril.png" alt="">

                            </div>

                            <div id="card-barril4" class="card-barril">

                                <h3>Barril 4</h3>

                                <img src="../assets/img/dashboard/barril.png" alt="">

                            </div>

                            <div id="card-barril5" class="card-barril">

                                <h3>Barril 5</h3>

                                <img src="../assets/img/dashboard/barril.png" alt="">

                            </div>

                        </div>

                    </div>

                </div>

                <!-- CONTAINER DOS GRAFICOS -->

                <div id="graficos-content" style="display: none;">

                    <div id="dash1" style="display: none;">

                        <div class="dash">


                            <!-- TOPO -->
    
                            <div class="topo">
    
    
                                <!-- KPIS -->
    
                                <div id="card1" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/sensor.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <p class="sensor-quantidade">0/1</p>
    
                                        <span>Sensores Desconectados</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card2" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/umidade-elevada.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade">0</p>
                                        </div>
    
                                        <span>Umidade Acima do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card3" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/umidade-baixa.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade">0</p>
    
                                        </div>
    
                                        <span>Umidade Abaixo do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card4" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/gelado.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade sensor-gelado">0</p>
                                        </div>
    
                                        <span>Temperatura Abaixo do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card5" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/quente.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade sensor-quente">0</p>
                                        </div>
    
                                        <span>Temperatura Acima do Elevado</span>
    
                                    </div>
    
                                </div>
    
                            </div>
    
    
                            <!-- MEIO -->
    
                            <div class="meio">
    
    
                                <!-- METRICAS DA ESQUERDA - GRAFICOS -->
    
                                <div class="metricas-esquerda">
    
                                    <!-- PRIMEIRO GRÁFICO -->
    
                                    <div class="grafico">
    
                                        <!-- TITULO DO GRAFICO -->
    
                                        <div class="titulo">
    
                                            <p>Histórico de Temperaturas Diária - (Barril Nº 1)</p>
    
                                        </div>
    
                                        <!-- GRAFICO -->
    
                                        <div class="linha">
                                            <canvas id="line1"></canvas>
                                        </div>
    
                                    </div>
    
    
                                    <!-- SEGUNDO GRAFICO -->
    
                                    <div class="grafico">
    
                                        <!-- TITULO DO GRAFICO -->
    
                                        <div class="titulo">
    
                                            <p>Histórico de Umidade Diária - (Barril Nº 1)</p>
    
                                        </div>
    
                                        <!-- GRAFICO -->
    
                                        <div class="barra">
                                            <canvas id="bar1"></canvas>
                                        </div>
    
                                    </div>
    
                                </div>
    
    
                                <!-- METRICAS DA DIREITA -->
    
                                <div class="metricas-direita">
    
                                    <div class="metricas-topo">
    
                                        <div class="data">
                                            <p>Métricas Atual</p>
                                            <p id="data-atual"></p>
                                        </div>
    
                                        <div class="temperatura">
                                            <img src="../assets/img/dashboard/kpi1.png" alt="">
                                            <p>Temperatura</p>
                                        </div>
    
                                    </div>
    
                                    <div class="metricas-baixo">
    
                                        <div class="umidade">
                                            <img src="../assets/img/dashboard/kpi2.png" alt="">
                                            <p>Umidade</p>
                                        </div>
    
                                    </div>
    
                                </div>
    
    
                            </div>
    
                        </div>

                    </div>

                    <div id="dash2" style="display: none;">

                        <div class="dash">


                            <!-- TOPO -->
    
                            <div class="topo">
    
    
                                <!-- KPIS -->
    
                                <div id="card1" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/sensor.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <p class="sensor-quantidade">0/1</p>
    
                                        <span>Sensores Desconectados</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card2" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/umidade-elevada.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade">0</p>
                                        </div>
    
                                        <span>Umidade Acima do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card3" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/umidade-baixa.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade">0</p>
    
                                        </div>
    
                                        <span>Umidade Abaixo do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card4" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/gelado.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade sensor-gelado">0</p>
                                        </div>
    
                                        <span>Temperatura Abaixo do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card5" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/quente.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade sensor-quente">0</p>
                                        </div>
    
                                        <span>Temperatura Acima do Elevado</span>
    
                                    </div>
    
                                </div>
    
                            </div>
    
    
                            <!-- MEIO -->
    
                            <div class="meio">
    
    
                                <!-- METRICAS DA ESQUERDA - GRAFICOS -->
    
                                <div class="metricas-esquerda">
    
                                    <!-- PRIMEIRO GRÁFICO -->
    
                                    <div class="grafico">
    
                                        <!-- TITULO DO GRAFICO -->
    
                                        <div class="titulo">
    
                                            <p>Histórico de Temperaturas Diária - (Barril Nº 2)</p>
    
                                        </div>
    
                                        <!-- GRAFICO -->
    
                                        <div class="linha">
                                            <canvas id="line2"></canvas>
                                        </div>
    
                                    </div>
    
    
                                    <!-- SEGUNDO GRAFICO -->
    
                                    <div class="grafico">
    
                                        <!-- TITULO DO GRAFICO -->
    
                                        <div class="titulo">
    
                                            <p>Histórico de Umidade Diária - (Barril Nº 2)</p>
    
                                        </div>
    
                                        <!-- GRAFICO -->
    
                                        <div class="barra">
                                            <canvas id="bar2"></canvas>
                                        </div>
    
                                    </div>
    
                                </div>
    
    
                                <!-- METRICAS DA DIREITA -->
    
                                <div class="metricas-direita">
    
                                    <div class="metricas-topo">
    
                                        <div class="data">
                                            <p>Métricas Atual</p>
                                            <p id="data-atual"></p>
                                        </div>
    
                                        <div class="temperatura">
                                            <img src="../assets/img/dashboard/kpi1.png" alt="">
                                            <p>Temperatura</p>
                                        </div>
    
                                    </div>
    
                                    <div class="metricas-baixo">
    
                                        <div class="umidade">
                                            <img src="../assets/img/dashboard/kpi2.png" alt="">
                                            <p>Umidade</p>
                                        </div>
    
                                    </div>
    
                                </div>
    
    
                            </div>
    
                        </div>

                    </div>

                    <div id="dash3" style="display: none;">

                        <div class="dash">


                            <!-- TOPO -->
    
                            <div class="topo">
    
    
                                <!-- KPIS -->
    
                                <div id="card1" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/sensor.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <p class="sensor-quantidade">0/1</p>
    
                                        <span>Sensores Desconectados</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card2" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/umidade-elevada.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade">0</p>
                                        </div>
    
                                        <span>Umidade Acima do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card3" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/umidade-baixa.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade">0</p>
    
                                        </div>
    
                                        <span>Umidade Abaixo do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card4" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/gelado.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade sensor-gelado">0</p>
                                        </div>
    
                                        <span>Temperatura Abaixo do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card5" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/quente.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade sensor-quente">0</p>
                                        </div>
    
                                        <span>Temperatura Acima do Elevado</span>
    
                                    </div>
    
                                </div>
    
                            </div>
    
    
                            <!-- MEIO -->
    
                            <div class="meio">
    
    
                                <!-- METRICAS DA ESQUERDA - GRAFICOS -->
    
                                <div class="metricas-esquerda">
    
                                    <!-- PRIMEIRO GRÁFICO -->
    
                                    <div class="grafico">
    
                                        <!-- TITULO DO GRAFICO -->
    
                                        <div class="titulo">
    
                                            <p>Histórico de Temperaturas Diária - (Barril Nº 3)</p>
    
                                        </div>
    
                                        <!-- GRAFICO -->
    
                                        <div class="linha">
                                            <canvas id="line3"></canvas>
                                        </div>
    
                                    </div>
    
    
                                    <!-- SEGUNDO GRAFICO -->
    
                                    <div class="grafico">
    
                                        <!-- TITULO DO GRAFICO -->
    
                                        <div class="titulo">
    
                                            <p>Histórico de Umidade Diária - (Barril Nº 1)</p>
    
                                        </div>
    
                                        <!-- GRAFICO -->
    
                                        <div class="barra">
                                            <canvas id="bar3"></canvas>
                                        </div>
    
                                    </div>
    
                                </div>
    
    
                                <!-- METRICAS DA DIREITA -->
    
                                <div class="metricas-direita">
    
                                    <div class="metricas-topo">
    
                                        <div class="data">
                                            <p>Métricas Atual</p>
                                            <p id="data-atual"></p>
                                        </div>
    
                                        <div class="temperatura">
                                            <img src="../assets/img/dashboard/kpi1.png" alt="">
                                            <p>Temperatura</p>
                                        </div>
    
                                    </div>
    
                                    <div class="metricas-baixo">
    
                                        <div class="umidade">
                                            <img src="../assets/img/dashboard/kpi2.png" alt="">
                                            <p>Umidade</p>
                                        </div>
    
                                    </div>
    
                                </div>
    
    
                            </div>
    
                        </div>

                    </div>

                    <div id="dash4" style="display: none;">

                        <div class="dash">


                            <!-- TOPO -->
    
                            <div class="topo">
    
    
                                <!-- KPIS -->
    
                                <div id="card1" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/sensor.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <p class="sensor-quantidade">0/1</p>
    
                                        <span>Sensores Desconectados</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card2" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/umidade-elevada.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade">0</p>
                                        </div>
    
                                        <span>Umidade Acima do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card3" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/umidade-baixa.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade">0</p>
    
                                        </div>
    
                                        <span>Umidade Abaixo do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card4" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/gelado.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade sensor-gelado">0</p>
                                        </div>
    
                                        <span>Temperatura Abaixo do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card5" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/quente.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade sensor-quente">0</p>
                                        </div>
    
                                        <span>Temperatura Acima do Elevado</span>
    
                                    </div>
    
                                </div>
    
                            </div>
    
    
                            <!-- MEIO -->
    
                            <div class="meio">
    
    
                                <!-- METRICAS DA ESQUERDA - GRAFICOS -->
    
                                <div class="metricas-esquerda">
    
                                    <!-- PRIMEIRO GRÁFICO -->
    
                                    <div class="grafico">
    
                                        <!-- TITULO DO GRAFICO -->
    
                                        <div class="titulo">
    
                                            <p>Histórico de Temperaturas Diária - (Barril Nº 4)</p>
    
                                        </div>
    
                                        <!-- GRAFICO -->
    
                                        <div class="linha">
                                            <canvas id="line4"></canvas>
                                        </div>
    
                                    </div>
    
    
                                    <!-- SEGUNDO GRAFICO -->
    
                                    <div class="grafico">
    
                                        <!-- TITULO DO GRAFICO -->
    
                                        <div class="titulo">
    
                                            <p>Histórico de Umidade Diária - (Barril Nº 4)</p>
    
                                        </div>
    
                                        <!-- GRAFICO -->
    
                                        <div class="barra">
                                            <canvas id="bar4"></canvas>
                                        </div>
    
                                    </div>
    
                                </div>
    
    
                                <!-- METRICAS DA DIREITA -->
    
                                <div class="metricas-direita">
    
                                    <div class="metricas-topo">
    
                                        <div class="data">
                                            <p>Métricas Atual</p>
                                            <p id="data-atual"></p>
                                        </div>
    
                                        <div class="temperatura">
                                            <img src="../assets/img/dashboard/kpi1.png" alt="">
                                            <p>Temperatura</p>
                                        </div>
    
                                    </div>
    
                                    <div class="metricas-baixo">
    
                                        <div class="umidade">
                                            <img src="../assets/img/dashboard/kpi2.png" alt="">
                                            <p>Umidade</p>
                                        </div>
    
                                    </div>
    
                                </div>
    
    
                            </div>
    
                        </div>

                    </div>

                    <div id="dash5" style="display: none;">

                        <div class="dash">


                            <!-- TOPO -->
    
                            <div class="topo">
    
    
                                <!-- KPIS -->
    
                                <div id="card1" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/sensor.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <p class="sensor-quantidade">0/1</p>
    
                                        <span>Sensores Desconectados</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card2" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/umidade-elevada.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade">0</p>
                                        </div>
    
                                        <span>Umidade Acima do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card3" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/umidade-baixa.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade">0</p>
    
                                        </div>
    
                                        <span>Umidade Abaixo do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card4" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/gelado.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade sensor-gelado">0</p>
                                        </div>
    
                                        <span>Temperatura Abaixo do Adequado</span>
    
                                    </div>
    
                                </div>
    
                                <div id="card5" class="card">
    
                                    <div class="image">
    
                                        <img src="../assets/img/dashboard/quente.png" alt="">
    
                                    </div>
    
                                    <div>
    
                                        <div>
                                            <p class="sensor-quantidade sensor-quente">0</p>
                                        </div>
    
                                        <span>Temperatura Acima do Elevado</span>
    
                                    </div>
    
                                </div>
    
                            </div>
    
    
                            <!-- MEIO -->
    
                            <div class="meio">
    
    
                                <!-- METRICAS DA ESQUERDA - GRAFICOS -->
    
                                <div class="metricas-esquerda">
    
                                    <!-- PRIMEIRO GRÁFICO -->
    
                                    <div class="grafico">
    
                                        <!-- TITULO DO GRAFICO -->
    
                                        <div class="titulo">
    
                                            <p>Histórico de Temperaturas Diária - (Barril Nº 5)</p>
    
                                        </div>
    
                                        <!-- GRAFICO -->
    
                                        <div class="linha">
                                            <canvas id="line5"></canvas>
                                        </div>
    
                                    </div>
    
    
                                    <!-- SEGUNDO GRAFICO -->
    
                                    <div class="grafico">
    
                                        <!-- TITULO DO GRAFICO -->
    
                                        <div class="titulo">
    
                                            <p>Histórico de Umidade Diária - (Barril Nº 5)</p>
    
                                        </div>
    
                                        <!-- GRAFICO -->
    
                                        <div class="barra">
                                            <canvas id="bar5"></canvas>
                                        </div>
    
                                    </div>
    
                                </div>
    
    
                                <!-- METRICAS DA DIREITA -->
    
                                <div class="metricas-direita">
    
                                    <div class="metricas-topo">
    
                                        <div class="data">
                                            <p>Métricas Atual</p>
                                            <p id="data-atual"></p>
                                        </div>
    
                                        <div class="temperatura">
                                            <img src="../assets/img/dashboard/kpi1.png" alt="">
                                            <p>Temperatura</p>
                                        </div>
    
                                    </div>
    
                                    <div class="metricas-baixo">
    
                                        <div class="umidade">
                                            <img src="../assets/img/dashboard/kpi2.png" alt="">
                                            <p>Umidade</p>
                                        </div>
    
                                    </div>
    
                                </div>
    
    
                            </div>
    
                        </div>

                    </div>

                </div>

            </div>



            <!-- NOTIFICAÇÕES -->

            <div id="notificacoes-content" style="display: none;">

                <div class="notificacoes-container">

                    <div class="notificacoes-titulo">
                        <h1>Notificações</h1>
                    </div>

                    <div class="notificacoes-conteudo">
                        <h1>Implementação Futura!</h1>
                    </div>

                </div>

            </div>


            <!-- CONFIGURAÇÕES -->

            <div id="configuracoes-content" style="display: none;">

                <div class="configuracoes-container">

                    <div class="configuracoes-titulo">
                        <h1>Configurações</h1>
                    </div>

                    <div class="configuracoes-conteudo">
                        <h1>Implementação Futura!</h1>
                    </div>

                </div>

            </div>

        </div>

    </main>

</body>

</html>


<script>
    const linha1 = document.getElementById('line1');
    const linha2 = document.getElementById('line2');
    const linha3 = document.getElementById('line3');
    const linha4 = document.getElementById('line4');
    const linha5 = document.getElementById('line5');

    const barra1 = document.getElementById('bar1');
    const barra2 = document.getElementById('bar2');
    const barra3 = document.getElementById('bar3');
    const barra4 = document.getElementById('bar4');
    const barra5 = document.getElementById('bar5');

    new Chart(linha1, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Temperatura',
                data: [15, 20, 22, 26, 16, 18, 29, 15, 20, 12, 19, 20, 22],
                borderWidth: 2,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    new Chart(linha2, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Temperatura',
                data: [15, 20, 22, 26, 16, 18, 29, 15, 20, 12, 19, 20, 22],
                borderWidth: 2,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    new Chart(linha3, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Temperatura',
                data: [15, 20, 22, 26, 16, 18, 29, 15, 20, 12, 19, 20, 22],
                borderWidth: 2,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    new Chart(linha4, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Temperatura',
                data: [15, 20, 22, 26, 16, 18, 29, 15, 20, 12, 19, 20, 22],
                borderWidth: 2,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    new Chart(linha5, {
        type: 'line',
        data: {
            labels: ['12h', '11h', '10h', '9h', '8h', '7h', '6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Temperatura',
                data: [15, 20, 22, 26, 16, 18, 29, 15, 20, 12, 19, 20, 22],
                borderWidth: 2,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    new Chart(barra1, {
        type: 'bar',
        data: {
            labels: ['6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Umidade',
                data: [15, 20, 22, 26, 16, 18, 29, 100],
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });

    new Chart(barra2, {
        type: 'bar',
        data: {
            labels: ['6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Umidade',
                data: [15, 20, 22, 26, 16, 18, 29, 100],
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });

    new Chart(barra3, {
        type: 'bar',
        data: {
            labels: ['6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Umidade',
                data: [15, 20, 22, 26, 16, 18, 29, 100],
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });

    new Chart(barra4, {
        type: 'bar',
        data: {
            labels: ['6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Umidade',
                data: [15, 20, 22, 26, 16, 18, 29, 100],
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });

    new Chart(barra5, {
        type: 'bar',
        data: {
            labels: ['6h', '5h', '4h', '3h', '2h', '1h', 'Atual'],
            datasets: [{
                label: 'Umidade',
                data: [15, 20, 22, 26, 16, 18, 29, 100],
                borderWidth: 2,
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });
</script>