<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <!-- TITLE -->
    <title>DashBoard</title>
</head>

<body>

    <main>


        <!-- MENU LATERAL -->

        <div class="menu">

            <!-- PEFIL -->

            <div class="perfil">

                <img src="../assets/img/dashboard/perfil.png" alt="">
                <h2>Kauan Gabriel</h2>

            </div>

            <!-- LISTA DE CONFIGURAÇÕES -->

            <nav class="configuracoes">
                <ul>
                    <li><img class="icone" src="../assets/img/dashboard/settings.png" alt=""> Configurações</li>
                    <li><img class="icone" src="../assets/img/dashboard/bell.png" alt=""> Notificações</li>
                    <li><img class="icone" src="../assets/img/dashboard/note.png" alt=""> Anotações</li>
                </ul>
            </nav>

            <!-- LISTA DE SALAS -->

            <nav class="salas">
                <ul>
                    <li><img class="icone" src="../assets/img/dashboard/sala.png" alt="">Sala 1</li>
                    <li><img class="icone" src="../assets/img/dashboard/sala.png" alt="">Sala 2</li>
                </ul>
            </nav>

            <!-- SAIR DA CONTA -->

            <nav class="sair">
                <ul>
                    <li><img class="icone" src="../assets/img/dashboard/logout.png" alt=""> Sair da Conta</li>
                </ul>
            </nav>

            <!-- BOTÔES -->

        </div>


        <!-- DASHBOARD -->

        <div class="dash">

            <!-- TOPO -->

            <div class="topo">
                <h3>Todos os Barris</h3>
            </div>

            <!-- MEIO -->

            <div class="meio">
                <h3>Selecione um Barril</h3>
            </div>

        </div>


    </main>

</body>

</html>