<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <!-- TITLE -->
    <title>DashBoard</title>
</head>

<body>

    <main>

        <!-- MENU LATERAL -->

        <div class="menu">

            <!-- PEFIL -->

            <div class="perfil">

                <img src="../assets/img/home/user.png" alt="">
                <h2>Kauan Gabriel</h2>

            </div>

            <!-- LISTA DE CONFIGURAÇÕES -->

            <nav class="configuracoes">
                <ul>
                    <li><img src="../assets/img/dashboard/settings.png" alt=""> Configurações</li>
                    <li><img src="../assets/img/dashboard/bell.png" alt=""> Notificações</li>
                    <li><img src="../assets/img/dashboard/note.png" alt=""> Anotações</li>
                </ul>
            </nav>

            <!-- LISTA DE SALAS -->

            <nav>
                <ul>
                    <li><img src="../assets/img/dashboard/comodo-vinho.png" alt="">Sala 1</li>
                </ul>
            </nav>

        </div>


        <!-- DASHBOARD -->

        <div class="dash">

            <!-- TOPO -->

            <div class="topo">

            </div>

            <!-- MEIO -->

            <div class="meio">

            </div>

        </div>

    </main>

</body>

</html>