<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/dash2.css">
    <!-- TITLE -->
    <title>DashBoard - 2</title>
</head>

<body>

    <main>

        <!-- CONTAINER - DASHBOARD -->

        <div class="container">


            <!-- MENU LATERAL -->

            <div class="menu">

                <!-- PEFIL -->

                <div class="perfil">

                    <img src="../assets/img/dashboard/perfil.png">
                    <h3>Kauan Gabriel</h3>

                </div>

                <!-- LISTA DE CONFIGURAÇÕES -->

                <nav class="configuracoes">

                    <ul>
                        <li><img class="icone" src="../assets/img/dashboard/settings.png">Configurações</li>
                        <li><img class="icone" src="../assets/img/dashboard/bell.png">Notificações</li>
                        <li><img class="icone" src="../assets/img/dashboard/note.png">Anotações</li>
                    </ul>
                    
                </nav>

                <!-- LISTA DE SALAS -->

                <nav class="salas">

                    <ul>
                        <li><img class="icone" src="../assets/img/dashboard/comodo-vinho.png">Sala 1</li>
                        <li><img class="icone" src="../assets/img/dashboard/sala.png">Sala 2</li>
                    </ul>

                </nav>

                <!-- SAIR DA CONTA -->

                <div class="sair">

                    <img class="icone-sair" src="../assets/img/dashboard/logout.png">
                    <p>Sair da Conta</p>

                </div>

            </div>


            <!-- DASHBOARD -->

            <div class="dash">

                <!-- TOPO -->

                <div class="topo">

                    <div class="card">

                        <div class="image">

                            <img src="../assets/img/dashboard/sensor.png" alt="">

                        </div>

                        <div>

                            <p class="sensor-quantidade">105/105</p>

                            <span>Sensores Conectados</span>

                        </div>

                    </div>

                    <div class="card">

                        <div class="image">

                            <img src="../assets/img/dashboard/adequado.png" alt="">

                        </div>

                        <div>

                            <div>
                                <p class="sensor-quantidade">83</p>
                                <p class="temp">~16ºC</p>
                            </div>

                            <span>Barris Adequados</span>

                        </div>

                    </div>

                    <div class="card">

                        <div class="image">

                            <img src="../assets/img/dashboard/gelado.png" alt="">

                        </div>

                        <div>

                            <div>
                                <p class="sensor-quantidade sensor-gelado">14</p>
                                <p class="temp">~10ºC</p>
                            </div>

                            <span>Sensores Gelados</span>

                        </div>

                    </div>

                    <div class="card">

                        <div class="image">

                            <img src="../assets/img/dashboard/quente.png" alt="">

                        </div>

                        <div>

                            <div>
                                <p class="sensor-quantidade sensor-quente">7</p>
                                <p class="temp">~27ºC</p>
                            </div>

                            <span>Sensores Quentes</span>

                        </div>

                    </div>

                </div>

                <!-- MEIO -->

                <div class="sensores">
                    
                    <div class="titulo">

                        <p>Histórico de Temperaturas - (Barril Nº 23)</p>

                        <span>10/04/2024</span>

                    </div>



                </div>

            </div>

        </div>

    </main>

</body>

</html>