<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/index.css">
    <!-- TITLE -->
    <title>WineCare</title>
</head>

<body>

    <!-- HEADER -->

    <header id="header">

        <div>
            <img id="icone" src="../assets/img/home/logo-white.png" alt="">
            <h2>WineCare</h2>
        </div>

        <nav>

            <ul>
                <li><a href="#home">Inicio</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#planos">Planos</a></li>
                <li><a href="#diagrama">Diagrama</a></li>
                <li>|</li>
                <li><a href="login.html">Login</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
            </ul>

        </nav>

    </header>

    <!-- HOME -->

    <section id="home">

        <aside>
            <h1>WineCare</h1>
            <p>É um projeto de monitoramento para Barris de Vinhos de alto padrão.</p>

            <button>Conhecer Projeto</button>
        </aside>

        <article>
            <img src="../assets/img/home/wine-glass-4764610_1280-removebg-preview.png">
        </article>

    </section>

    <!-- SOBRE -->

    <section id="sobre">

        <article>
            <img src="../assets/img/home/DALL·E-2024-05-06-14.42-Photoroom.png-Photoroom.png">
        </article>

        <aside>
            <h2>Sobre</h2>

            <p>Sabemos a importância da refrigeração e armazenamento de vinhos para que os mesmos cheguem em excelentes
                condições para consumo.
                Por isso, a WineCare é um Sistema que busca fornecer uma solução tecnológica para grandes vinícolas
                brasileiras para que tenham melhor controle da temperatura dos barris de vinho.
            </p>
        </aside>

    </section>

    <!-- SERVICOS -->

    <section id="servicos">

        <h2>Serviços</h2>

        <div class="cards">

            <div class="card">

                <div class="image1">
                    <h3>Sistema Web</h3>
                </div>

                <div class="details">

                    <p>Sistema Web totalmente responsivo e acessívelutilizado para Gerenciar seus Barris.</p>
                </div>

            </div>

            <div class="card">

                <div class="image2">
                    <h3>Sensores</h3>
                </div>

                <div class="details">

                    <p>Sensores para captação de dados de temperatura e umidade.</p>
                </div>

            </div>

            <div class="card">

                <div class="image3">
                    <h3>Controle de Dados</h3>
                </div>

                <div class="details">

                    <p>Dashboard para visualizar os dados coletados pelos Sensores.</p>
                </div>

            </div>


        </div>

    </section>

    <!-- PLANOS -->

    <section id="planos">

        <article>
            <img src="../assets/img/home/SensorNoBarril.png" alt="">
        </article>

        <aside>
            <div class="planos-titulo">
                <h2>Planos</h2>
                <span>Onde queremos chegar?</span>
            </div>

            <div class="planos-text">
                <p>A nossa missão é auxiliar os produtores a reduzir em até 50% as perdas de vinhos nobres durante o
                    processo de maturação.</p>

                <p>Com nossa aplicação web, nossos clientes podem monitorar em tempo real a temperatura e a umidade dos
                    vinhos armazenados, acessando facilmente os dados capturados por nossos sensores.</p>

                <p>Fornecemos alertas que permitem aos produtores agir prontamente, mantendo a qualidade do vinho.</p>
            </div>
        </aside>

    </section>

    <!-- DIAGRAMA -->

    <section id="diagrama">

        <aside>

            <h2>Diagrama De Negócios</h2>

            <p>Diagrama explicativo, com o intuito de transmitir a idéia do nosso Projeto.</p>

            <p>Caso tenha se interessado, <a href="">Clique aqui</a> para uma simulação.</p>

        </aside>

        <article>
            <img src="../assets/img/home/diagrama-negocio.png" alt="">
        </article>

    </section>

    <!-- FOOTER -->

    <footer>

        <div>

            <h3>Links Rápidos</h3>

            <ul>
                <li><a href="#home">Inicio</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#planos">Planos</a></li>
                <li><a href="#diagrama">Diagrama</a></li>
            </ul>

        </div>

        <div>

            <h3>Contato</h3>

            <p>+55 11 94000-4000</p>
            <p>@wine.care</p>
            <p>contato.winecare@email.com</p>

        </div>

        <div>

            <img src="../assets/img/home/logo-white.png" alt="">
            <h3>WineCare</h3>

        </div>

    </footer>

</body>

</html>