<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/img/home/icone.png">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- TITLE -->
    <title>WineCare</title>
</head>

<body>

    <div class="container">


        <!-- HEADER -->

        <header>

            <div>

                <img src="../assets/img/home/email.png" alt="">

                <img id="icone" src="../assets/img/home/icone.png" alt="">

                <a href="login.html">
                    <img src="../assets/img/home/user.png" alt="">
                </a>

            </div>

            <nav>

                <ul>
                    <li><a href="#home">Inicio</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#servicos">Serviços</a></li>
                    <li><a href="#planos">Planos</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>

            </nav>

        </header>


        <!-- MAIN -->



        <!-- HOME -->

        <section id="home">

            <div>

                <img src="../assets/img/home/icone.png" alt="">
                <h1>WineCare</h1>

            </div>

            <p>Monitoramento de Barris de Vinho.</p>

            <button>Conheça o Projeto</button>

        </section>



    </div>

    <section id="sobre">

        <aside>

            <h2>Sobre</h2>

            <p>
                Sabemos a importância da refrigeração e armazenamento de vinhos para que os mesmos cheguem em excelentes
                condições para consumo.
            </p>

            <p>
                Por isso, a WineCare é um Sistema
                que busca fornecer uma solução em IOT para grandes vinícolas brasileiras para que tenham melhor controle
                da
                temperatura dos barris de vinho
            </p>

        </aside>

        <article>

            <img src="../assets/img/home/vinho.png" alt="">

        </article>

    </section>


    <!-- SERVIÇOS -->

    <section id="servicos">

        <h2>Serviços</h2>

        <div class="content">

            <div class="card">

                <div class="sistemaWeb">
                    <h3>Sistema Web</h3>
                </div>

                <p>Sistema Web totalmente responsivo e acessível, utilizado para Gerenciar seus Barris.</p>

            </div>

            <div class="card black">

                <div class="sensores">
                    <h3>Sensores</h3>
                </div>

                <p>Sensores para captação de dados de temperatura e umidade.</p>

            </div>

            <div class="card">

                <div class="controleDados">
                    <h3>Controle de Dados</h3>
                </div>

                <p>Dashboard para visualizar os dados coletados pelos Sensores.</p>

            </div>

        </div>

    </section>


    <!-- PLANOS -->

    <section id="planos">

        <article>
            <img src="../assets/img/home/uvas2.jpg" alt="">
        </article>

        <aside>

            <div>
                <h2>Planos</h2>
                <p>Onde queremos chegar?</p>
            </div>

            <p>
                Sabemos a importância da refrigeração e armazenamento de vinhos para que os mesmos cheguem em excelentes
                condições para consumo
            </p>

            <p>
                Por isso, a WineCare é um Sistema
                que busca fornecer soluções em IOT
                para grandes vinícolas brasileiras para que tenham melhor controle da temperatura dos barris de vinho
            </p>

        </aside>

    </section>


    <!-- FOOTER -->

    <footer>

        <div>

            <h3>Links Rápidos</h3>

            <ul>
                <li><a href="#home">Inicio</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#planos">Planos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>

        </div>

        <div>

            <h3>Contato</h3>

            <p>+55 11 94000-4000</p>
            <p>@wine.care</p>
            <p>contato.winecare@email.com</p>

        </div>

        <div>

            <img src="../assets/img/home/icone.png" alt="">
            <h3>WineCare</h3>

        </div>

    </footer>


</body>

</html>