<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/login.css">
    <!-- JS -->
    <script src="../assets/js/trocaPagina.js"></script>
    <!-- TITLE -->
    <title>Login</title>
</head>

<body>

    <main>

        <div class="container">

            <div class="icones">

                <a href="index.html">
                    <img src="../assets/img/cadastro-login/seta.png" alt="">
                </a>

                <img id="icone" src="../assets/img/home/icone.png" alt="">

            </div>

            <div class="content">

                <div class="form-login">

                    <h1>Acesse sua Conta</h1>

                    <div class="divInput">

                        <p>Email</p>
                        <input type="email" placeholder="Ex.: kauan@gmail.com" id="inp_email">

                        <p>Senha</p>
                        <input type="password" placeholder="******" id="inp_senha">

                    </div>

                    <button onclick="login()">Login</button>

                </div>

                <div class="cadastrar">

                    <h1>Bem vindo de Volta!</h1>

                    <p>Preencha os campos para acessar sua conta</p>

                    <div>

                        <p>Não tem cadastro ainda?</p>
                        <button onclick="telaCadastro()">Cadastre-se</button>

                    </div>

                </div>

            </div>

        </div>

    </main>

</body>

</html>

<script>

//  ESPAÇO PARA A LÓGICA DE REPETIÇÃO


</script>